/*
 
  Block - Grid A (b-grid-a)
  
  Instance of b-grid-a
 
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

/* =============================================================================
   Image
   ========================================================================== */
   
.b-grid-a img {
    background: #404040 url("images/bg-default.png") no-repeat center;
    height: 70px;
    width: 125px;
}