/*
 
  Block - Grid A (b-list-a)
  
  Instance of b-list-a
 
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

/* =============================================================================
   Image
   ========================================================================== */
   
.b-list-a img {
    background: #404040;
    height: 70px;
    width: 125px;
} /* For demo Purposes */