/*
 
  Plugin - Detail (p-detail)
  
  Single Instance
 
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

/* =================================================================
   Base
   ================================================================= */
   
.p-detail { margin-bottom: 1.5em; }
.p-detail hr { margin: 1.5em 0; }

/* =================================================================
   Headers
   ================================================================= */
   
.p-detail h1 { border-bottom: 1px solid #ccc; margin-bottom: 1em; }

/* =================================================================
   Images
   ================================================================= */
   
.p-detail img { width: 100%; }
