/*
 
  Plugin - Detail (p-detail)
  
  Single Instance
 
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

/* =================================================================
   Base
   ================================================================= */
   
.p-detail { margin-bottom: 1.5em; }
.p-detail hr { margin: 1.5em 0; }

/* =================================================================
   Headers
   ================================================================= */
   
.p-detail h1 { border-bottom: 1px solid #ccc; margin-bottom: 1em; }

/* =================================================================
   Nav
   ================================================================= */
   
.p-detail nav { position: absolute; top: .4em; right: 0px; }
.p-detail nav li { font-size: 1.5em; float: left; margin-left: 20px; }
.p-detail nav a { display: block; padding: 4px 6px; }

/* =================================================================
   Images
   ================================================================= */
   
.p-detail img { width: 100%; }

/* =================================================================
   Demos
   ================================================================= */
   
.p-detail .p-detail-demo { margin-bottom: 1.5em; }
