/*
 * style.css
 *
 * THESE ARE ALL TEMPORARY STYLES FOR PROTOTYPING
 */

@import url("../repo/grid/grid-a/grid.css");

/* =============================================================================
   Base
   ========================================================================== */

body {
    background: #fff url(../images/header.png) repeat-x left top;;
    color: #404040;
    font: 12px/18px Sans-Serif;
}

a { color: #de7516; text-decoration: none; }
a:visited { color: #000; }
a:hover { color: #111; }

/* =============================================================================
   Header
   ========================================================================== */

header.main {
	min-height: 91px;
}   
header.main a { color: #000; font-size: 48px; }
header.main > hgroup { margin-bottom: 36px; }

/* =============================================================================
   Grid
   ========================================================================== */

.b-grid { margin-bottom: 36px; overflow: hidden; }
.b-grid ul { list-style-type: none; padding: 0px; }

.b-grid li {
    float: left;
    margin: 0px 30px 1.5em 0px;
    text-align: center;
    width: 150px;
}

.b-grid img {
    background: #000 url("images/bg-default.png") no-repeat center;
    display: block;
    height: 84px;
    margin-bottom: 4px;
    width: 150px;
}
   
/* =============================================================================
   m-prd
   ========================================================================== */
   
.m-prd { overflow: hidden; }

.m-prd-img {
    float: left;
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px 18px;
    overflow: hidden;
    width: 400px;
}

.m-prd-img img {
    background: #000 url("images/bg-default.png") no-repeat center;
    float: left;
    height: 104px;
    margin-right: 30px;
    width: 185px;
}

.m-prd-img > li:last-child img { margin-right: 0px; }

.m-prd-img .m-prd-scrnsht {
    height: 225px;
    margin-bottom: 18px;
    width: 400px;
}

.m-prd-desc { margin-left: 430px; padding-bottom: 18px; }
.m-prd-spec { border-top: 1px dotted #666; clear: left; margin-top: 18px; padding-top: 18px; }

.m-prd-spec .b-tags > .s-caution { margin-top: 0px; }

/* =============================================================================
   Demos
   ========================================================================== */

#demos { padding: 54px 0px 18px 60px; }
.demo { margin-bottom: 54px; overflow: hidden; }

/* =============================================================================
   States
   ========================================================================== */

.s-caution { color: #d5d326; }




/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
