/*
    Theme - Header
    
    NOTES: None
   
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

/* =================================================================
   Base
   ================================================================= */

header.main { padding: .6em 0; min-height: 180px; margin-bottom: 2em; }
header.main > hgroup { position: relative; top: 2em; }
header.main h1 { color: #000; font-size: 6em; margin-bottom: 0em; border: .12em solid #222; clear: both; line-height: 1; padding: .08em .08em 0; float: left; white-space: nowrap; -webkit-transform: skewY(-7deg); }
header.main h2 { margin-bottom: 0em; position: relative; top: .4em; line-height: 1; padding: .08em .08em 0; float: left; clear: both; -webkit-transform: skewY(-7deg); }
