/*
    Theme - Header
    
    NOTES: None
   
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

/* =================================================================
   Base
   ================================================================= */

header.main { min-height: 91px; }
header.main > hgroup { margin-bottom: 36px; }
header.main h1 { color: #000; font-size: 60px; margin-bottom: 0em; }
header.main h2 { margin-bottom: 0em; }
