/*
 
  Block - Grid A (b-grid-a)
 
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

/* =============================================================================
   Base
   ========================================================================== */

.b-grid-a { list-style-type: none; margin: 0px; }

/* =============================================================================
   Listing Item
   ========================================================================== */

.b-grid li {
    float: left;
    margin: 0px 20px 1.5em 0px;
    text-align: center;
}

/* =============================================================================
   Images
   ========================================================================== */

.b-grid img {
    display: block;
    margin-bottom: 4px;
    width: 100%;
}
   