/*
 
  Block - Grid A (b-list-a)
 
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

/* =============================================================================
   Base
   ========================================================================== */

.b-list-a { list-style-type: none; margin: 0px; }

/* =============================================================================
   Listing Item
   ========================================================================== */

.b-list li {
    float: left;
    margin: 0px 20px 1.5em 0px;
    text-align: center;
}

/* =============================================================================
   Images
   ========================================================================== */

.b-list img {
    display: block;
    margin-bottom: 4px;
    width: 100%;
}

/* =============================================================================
   Cross-Browser Support
   ========================================================================== */

.b-list:before, .b-list:after { content: ""; display: table; }
.b-list:after { clear: both; }
.b-list { zoom: 1; }