/*
 * b-dl-a.css (.b-dl-a)
 */
 
/* =============================================================================
   Definition Title
   ========================================================================== */

.b-dl-a > dt { font-size: 1.5em; line-height: 1em; margin-bottom: 1em; }

.b-dl-a > dt img {
    float: left;
    height: 64px;
    margin-right: 18px;
    width: 64px;
}

/* =============================================================================
   Definitions
   ========================================================================== */
   
.b-dl-a > dd { margin: 0px 0px 1.5em 82px; }