/*
 
  Plugin - Sidebar (p-sidebar-a)
  
  Instance of p-sidebar-a
 
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

/* =================================================================
   Base
   ================================================================= */
   
.p-sidebar-a {
	background: #0E0E06;
	color: #fff;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}