/* @import url("../../repo/grid/grid-a/grid.css"); */
/* @import url("../../repo/utility/t-typography/t-typography-a/t-typography-a.css"); */
/* @import url("../../repo/block/b-grid/b-grid-a/b-grid-a.css"); */
/* @import url("../../repo/block/b-infograph/b-infograph-a/b-infograph-a.css"); */
/* @import url("../../repo/plugin/p-page/p-page-a/p-page-a.css"); */
/* @import url("../../repo/plugin/p-sidebar/p-sidebar-a/p-sidebar-a.css"); */


/* ^^
 * The @import declaration mimicks a compiler.
 */

 /*
 
  DEMO GOOOOOOOOOOOOOOOOOOOO!!!
  
  Theme - Base
 
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

/* =============================================================================
   Base
   ========================================================================== */
   
/* body { background: #D80C0C; padding: 3em 0; } */

/* =============================================================================
   Utility
   ========================================================================== */
   
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { zoom: 1; }