/*
 
  Theme - Typography (t-typography-a)
 
  Instance of t-typography-a
 
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

/* =============================================================================
   Base
   ========================================================================== */

body { color: #0E0E06; }
   
/* =============================================================================
   Header
   ========================================================================== */
   
h1, h2, h3, h4, h5, h6 { color: #F7E40A; text-shadow: -1px -1px #0E0E06, -2px -2px #0E0E06, -3px -3px #0E0E06; }
   
/* =============================================================================
   Links
   ========================================================================== */

a { color: #F7BF0A; text-shadow: -1px -1px #0E0E06; }
a:visited { color: #F7BF0A; }
a:hover { color: #F7E40A; }