/*
 * b-grd-a.css (.b-grd-a)
 */

/* =============================================================================
   Base
   ========================================================================== */
   
.b-grd-a > li {
    display: inline-block;
    padding: 0px 18px 1.5em 0px;
    text-align: center;
}

.b-grd-a img { display: block; margin-bottom: 4px; }
