/*
 * b-ig-b.css (.b-ig-b)
 */

/* =============================================================================
   Base
   ========================================================================== */
   
.b-ig-b { border-collapse: collapse; margin-bottom: 1.5em; width: 100%; }

/* =============================================================================
   Images
   ========================================================================== */
   
.b-ig-b .tip { width: 32px; }

.b-ig-b img {
    display: block;
	height: 32px;
    width: 32px;
}

/* =============================================================================
   Data Cells
   ========================================================================== */

.b-ig-b .b-ig-nosel {
    background: #666;
    border-bottom: 1px solid #000;
    margin: 4px;
}

.b-ig-b .b-ig-sel { background: #000; }

/* =============================================================================
   Bottom Headers
   ========================================================================== */

.b-ig-b .b-ig-th { text-align: center; }