/*
 * b-sdbr-a.css (.b-sdbr-a)
 */

/* =============================================================================
   Base
   ========================================================================== */

.b-sdbr-a { text-align: center; }
.b-sdbr-a > ul { list-style-type: none; padding: 0px; }

/* =============================================================================
   Header
   ========================================================================== */

.b-sdbr-a > h3 {
    border-bottom: 1px solid #666;
    line-height: 1.5em;
    margin-bottom: 2em;
    padding-bottom: 1em;
    text-transform: uppercase;
}

/* =============================================================================
   Image
   ========================================================================== */
   
.b-sdbr-a .b-sdbr-img {
    background: rgb(204,204,204); /* Fallback */
    background: rgba(204,204,204,.35);
    border-top: 1px solid #eee;
    border-bottom: 1px solid #000;
    display: block;
    padding: 18px;
}

.b-sdbr-a .b-sdbr-img img { background: #000; width: 100%; }

/* =============================================================================
   Caption
   ========================================================================== */
   
.b-sdbr-a .b-sdbr-cptn {
    display: block;
    line-height: 1.5em;
    margin: 4px 0px 1.5em;
    padding: 0px 18px;
}